<div id="footer-bottom">
    <div class="container">
      <div class="d-flex align-items-center flex-wrap justify-content-between">
        <div class="copyright">
          <p>Freebies by <a href="https://templatesjungle.com/">Templates Jungle</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
          </p>
        </div>
        <div class="payment-method">
          <p>Payment options :</p>
          <div class="card-wrap">
            <img src="assets/images/visa-icon.jpg" alt="visa">
            <img src="assets/images/mastercard.png" alt="mastercard">
            <img src="assets/images/american-express.jpg" alt="american-express">
          </div>
        </div>
      </div>
    </div>
  </div>