<section id="flash-sales" class="product-store padding-large">
      
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Flash sales</h2>
      </div>
      <div class="swiper product-swiper flash-sales overflow-hidden">

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-item">
              <img src="assets/images/selling-products9.jpg" alt="Books" class="product-image">
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="discount">10% Off</div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="single-product.html">Full sleeve cover shirt</a>
                </h3>
                <div class="item-price text-primary">
                  <del class="prev-price">$50.00</del>$40.00
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item">
              <img src="assets/images/selling-products10.jpg" alt="Books" class="product-image">
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="discount">10% Off</div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="single-product.html">Long Sleeve T-shirt</a>
                </h3>
                <div class="item-price text-primary">
                  <del class="prev-price">$50.00</del>$40.00
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item">
              <img src="assets/images/selling-products11.jpg" alt="Books" class="product-image">
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="discount">10% Off</div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="single-product.html">Grey Check Coat</a>
                </h3>
                <div class="item-price text-primary">
                  <del class="prev-price">$55.00</del>$45.00
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item">
              <img src="assets/images/selling-products12.jpg" alt="Books" class="product-image">
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="discount">10% Off</div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="single-product.html">Silk White Shirt</a>
                </h3>
                <div class="item-price text-primary">
                  <del class="prev-price">$45.00</del>$35.00
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item">
              <img src="assets/images/selling-products8.jpg" alt="Books" class="product-image">
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="discount">10% Off</div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="single-product.html">Blue Jeans pant</a>
                </h3>
                <div class="item-price text-primary">
                  <del class="prev-price">$45.00</del>$35.00
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>

      </div>
    </div>
  </section>