<section class="shoppify-section-banner">
    <div class="container">
      <div class="product-collection">
        <div class="left-content collection-item">
          <div class="products-thumb">
            <img src="assets/images/model.jpg" alt="collection item" class="large-image image-rounded">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 product-entry">
            <div class="categories">Denim collection</div>
            <h3 class="item-title">The casual selection.</h3>
            <p>Vel non viverra ligula odio ornare turpis mauris. Odio aliquam, tincidunt ut vitae elit risus. Tempor egestas condimentum et ac rutrum dui, odio.</p>
            <div class="btn-wrap">
              <a href="shop.html" class="d-flex align-items-center">shop collection <i class="icon icon-arrow-io"></i>
              </a>
            </div>
          </div>
        </div>
      </div>        
    </div>
  </section>