<section id="instagram" class="padding-large">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Follow our instagram</h2>
      </div>
      <p>Our official Instagram account <a href="#">@ultras</a> or <a href="#">#ultras_clothing</a>
      </p>
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="assets/images/insta-image1.jpg" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="assets/images/insta-image2.jpg" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="assets/images/insta-image3.jpg" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="assets/images/insta-image4.jpg" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="assets/images/insta-image5.jpg" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <figure class="zoom-effect">
            <img src="assets/images/insta-image6.jpg" alt="instagram" class="insta-image">
            <i class="icon icon-instagram"></i>
          </figure>
        </div>
      </div>          
    </div>
  </section>