<section id="subscribe" class="padding-large">
    <div class="container">
      <div class="row">
        <div class="block-text col-md-6">
          <div class="section-header">
            <h2 class="section-title">Get 25% off Discount Coupons</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
        </div>
        <div class="subscribe-content col-md-6">
          <form id="form" class="d-flex justify-content-between">
            <input type="text" name="email" placeholder="Enter your email addresss here">
            <button class="btn btn-dark">Subscribe Now</button>
          </form>
        </div>
      </div>
    </div>
  </section>